 .parent{
    background-color: antiquewhite;
    display: flex;//always use flex display eta parent child ke control kore
    gap:20px;
    justify-content: flex-start; */
     justify-content: space-between; */
    height: 320px; */
     align items stretch deyate height parent jototuku nise child thick same poriman nise */
     padding:20px;
    
    
    
     align-items:stretch;//by default etai thake jodi onnota dite chaw dite paro
     
}
.child{
    border:2px solid rgb(139, 68, 68);
    padding:15px;
    text-align: center;
    font-size: 20px;
    



}  

.hero{
    height: 921px;
    background-image: url("../assets/hero-bg.png");
    background-color: blueviolet;

} 
