
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */
    .text-primary{
        color:rgba(253, 110, 10, 1);

    }
    .secondary-bg{
        background-color:rgba(255, 248, 243, 1) ;
    }


    /* header style */
    .header{
        background-image: url("../images/developer.png"),url("../images/header_bg.png");
        background-repeat: no-repeat;
        background-position: top left, bottom right;
        background-color: rgba(255, 248, 243, 1);
    }
/* nav style */


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:50px 200px;
}
nav .title{
    font-size:45px;
    font-weight:800px;
} 
nav ul li{
    list-style: none;
    font-size: 20px;
    margin-right: 50px;
   
    
}
nav ul a{
    text-decoration: none;
    font-size: 30px;
}
nav ul{
    display:flex;
    align-items: center;
   
}
.btn{
    background-color: rgba(253, 110, 10, 1);
    color:rgba(255, 255, 255, 1);

    font-weight: bold;
    padding:18px 35px;
    border-radius: 5px;
    font-size: 20px;

}
/* banner style */

.banner-content{
    width: 585px;
}
.subtitle{
font-size: 45px;
color:rgba(71, 71, 71, 1);
font-weight: 600px;

}

.title{
    font-size:85px;
    color:rgba(24, 24, 24, 1);
    font-weight: bold;

}
.content-pera{
    font-size: 18px;
    line-height: 30px;
    margin:3 0 15 0;
}
.bannar-img{
   width: 580px; 
}
.infocontent{
    color:rgba(253, 110, 10, 1);
    border-color:rgba(253, 110, 10, 1) ;
    font-size: 20px;
    background: rgba(255, 248, 243, 1);
    margin-left: 10px;
}
.bannar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin:0 38px 0 230px;

}
/* about style */
main{
    max-width: 1140px;
    margin:0 auto;
}
.about-details{
    border-radius: 10px;
    padding:131px 160px;
    
    text-align: center;
    margin-top:130px;


}

.about-title{
    font-size:35px;
    font-weight: 800;
    color:rgba(24, 24, 24, 1);
}
.about-description{
    color:rgba(117, 117, 117, 1);
    font-size:18px;
}
.about-footer{
    display: flex;
    justify-content: space-around;
}
.about-details{
    margin:956 230 2739 226;
}

